try-import ci.bazelrc
common --enable_bzlmod

common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp

build --strip=never --compilation_mode=dbg
build --@rules_go//go/config:pure=false
build --@rules_go//go/config:static=false
build --incompatible_enable_proto_toolchain_resolution
build --incompatible_enable_cc_toolchain_resolution=false

build:zig-toolchains --incompatible_enable_cc_toolchain_resolution=true
build:zig-toolchains --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:zig-toolchains --extra_toolchains=@zig_sdk//toolchain:darwin_amd64
build:zig-toolchains --extra_toolchains=@zig_sdk//toolchain:darwin_arm64
build:zig-toolchains --extra_toolchains=@zig_sdk//toolchain:linux_amd64_gnu.2.28
build:zig-toolchains --extra_toolchains=@zig_sdk//toolchain:linux_arm64_gnu.2.28
build:zig-toolchains --features=-per_object_debug_info

build:linux-amd64 --config=zig-toolchains
build:linux-amd64 --platforms=@zig_sdk//platform:linux_amd64

build:linux-arm64 --config=zig-toolchains
build:linux-arm64 --platforms=@zig_sdk//platform:linux_arm64
